<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/eve</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
	<!-- <property name="hbm2ddl.auto">update</property> -->
		<mapping class="com.eve.smarttrader.rest.models.jpa.MarketData" />
		<mapping class="com.eve.smarttrader.rest.models.jpa.Item" />
		<mapping class="com.eve.smarttrader.rest.models.jpa.History" />
		<mapping class="com.eve.smarttrader.rest.models.jpa.MarketHistory" />
		<mapping class="com.eve.smarttrader.rest.models.jpa.MarketGroup" />
		<mapping class="com.eve.smarttrader.rest.models.jpa.MarketOrder" />
		<mapping class="com.eve.smarttrader.rest.models.jpa.User" />
	</session-factory>
</hibernate-configuration>